@mixin mqMax($size){
    @media only screen and (max-width: $size){
        @content
    }
};
@mixin mqMin($size){
    @media only screen and (min-width: $size){
        @content
    }
};

@mixin btn($col){
    padding: .5em .8em;
    margin: .5em;
    color: $col1;
    background: $col;
    border: none;
    border-radius: 4px;
    font-size: .9em;
    text-transform: uppercase;
}

$tbCol: #1D1A1D;
$navCol: #2D2D2D;
$col1: #fff;
$btn1: #ad0d33;
$btn2: #fbb03b;

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
}
body{
    display:grid;
}
button{
    a{
        color: inherit;
        text-decoration: none;
    }
}
.y{
    color: $btn2;
}

header {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(4em, auto);
    color: $col1;
    
    .topBar{
        align-items: center;
        padding: .4em 0;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        background: $tbCol;
        .logo{
            width: 7em;
            cursor: pointer;
        }
        .btns{
            justify-self: end;
            padding-right: 2em;
            button{
                cursor: pointer;
                @include btn($btn1);
                &:nth-of-type(odd){
                    @include mqMax(500px){
                        display:none;
                    }
                }
                &:nth-of-type(even){
                    @include btn($btn2);
                }
            }
        }
    }
    nav{
        padding: 0.8em;
        display:flex;
        justify-content: center;
        background: $navCol;
        ul{
            list-style-type: none;
            text-align: center;
            li{
                display: inline-block;
                padding: 0 1em;
                @include mqMax(500px){
                    padding: 0 .5em;
                }
            }
        }
    }
}

.banner{
    //height: 80vh;
    position: relative;
    padding: 2em 0 5em 0;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    color: $col1;
    background: url('../banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #696969;//test

    .overlay{
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;
        background: rgba(0,0,0,0.5);

        img{
            width: 30%;
        }

        .icons-l{
            position: absolute;
            bottom:0;
        }
        .icons-r{
            position: absolute;
            right:0;
            bottom:0;
        }
    }

    .offerWrapper{
        display: grid;
        grid-template-rows: repeat(5, auto);
        grid-row-gap: 0.5em;
        justify-items: center;
        z-index: 2;

        .offer{
            padding: 1em 1.5em;
            text-align: center;
            border: solid 4px $col1;
            @include mqMax(660px){
                border: solid 4px transparent;
            }
            @include mqMax(500px){
                padding: .5em .75em;
                margin-bottom: 1em;
            }
            img{
                width: 80%;
            }
        }
        .offerSub{
            width: 10em;
            img{
                width: 100%;
            }

        }
        .offerTerms{
            text-align: center;
            font-size: .6em;
            font-weight: normal;
            width: 60%;
            margin: .4em 0;
        }
        .offerBtn{
            @include btn($btn1);
            font-size: 1.5em;
            padding: 0.5em 2em;
            cursor: pointer;
        }
        .badges{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding-top: 1em;
            grid-gap: 1em;

            @include mqMax(1181px){
                grid-template-columns: repeat(2, 1fr);
            }
            @include mqMax(984px){
                display: none;
            }
            @include mqMin(2500px){
                grid-template-columns: repeat(4, 20em);
            }

            .badge{
               text-align: center;
               background: rgba(255,255,255,0.1);
               i {
                   padding: 0.4em 0.8em;
                   font-size: 5em;
               }
               .txtWrap{
                   padding: 0.5em;
                   background: #FF141A;
                   .badgeHead{
                       font-size: 1.5em;
                       margin-bottom: 0.2em;
                   }
                   .badgeSub{
                       font-size: .8em;
                       font-weight: 600;
                   }
               }
            }
        }
    }
}

.games{
    position: relative;
    margin-top: 5em;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;

    .arrow{
        position: absolute;
        top: 4em;
        margin: 0 3em;
        padding: .5em;
        font-size: 2.5em;
        cursor: pointer;
        @include mqMax(1181px){
            margin: 0.2em;
        }
    }
    .left{
        left: 0;
    }
    .right{
        right: 0;
    }

    ::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        border: 60px solid #fff;
    }
    ::-webkit-scrollbar-track{
        background: transparent;
    }
    ::-webkit-scrollbar-thumb{
        border: solid 3.5px #fff;
        background: rgba(0,0,0,0.8);
    }

    .gameHeader{
        justify-self:start;
        margin-left: 10vw;
        margin-bottom: 1em;
        font-weight: lighter;
    }
    .gameCarousel{
        width: 80vw;
        display: grid;
        grid-template-columns: repeat(18, 149px);
        grid-template-rows: repeat(2, 149px);
        grid-auto-flow: column;
        grid-gap: .2em;
        overflow-x: auto;
        cursor: grab;
        @include mqMax(1181px){
            width: 90vw;
        }
        .game{
            img{
                width: 100%;
                height: 100%;
            }
        }
        .xlIcon{
            grid-column: auto / span 2;
            grid-row: auto / span 2;
        }
        .icon {
            grid-column: auto;
            grid-row: auto;
        }
        .wideIcon {
            grid-column: auto / span 2;
            grid-row: auto;
        }
        .tallIcon {
            grid-column: auto;
            grid-row: auto / span 2;
        }
    }
    .badges-2{
        @include mqMin(985px){
            display:none;
        }
        width: 80vw;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1em;
        margin-top: 2em;
        @include mqMax(590px){
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(4, 1fr);
        }

        .badge{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1em 0;
            @include mqMax(590px){
                justify-content: end;
                .fa-walking{
                    font-size: 3.9em;
                }
            }
            i{
                font-size: 3em;
                padding-right: 1em;
            }
            .txtWrap{
                .badgeHead{
                    font-size: 1.5em;
                    font-weight: lighter;
                }
                .badgeSub{
                    font-weight: 600;
                }
            }
        }
    }
}

footer{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 0.5fr);
    justify-items: center;
    align-content: center;
    grid-row-gap: 6em;
    text-align: center;
    margin-top: 5em;
    padding-top: 1em;
    color: $col1;
    background: $navCol;
    .copyright{
        width: 80vw;
        padding: 1em;
        color: $navCol;
        background: #fff;
        @include mqMax(1181px){
            width: 90vw;
        }
    }
}

.scrolling{
    scroll-behavior: smooth;
}